name: Build Packages

on:
  push:
  workflow_dispatch:
    inputs:
      linux:
        type: boolean
        description: "Build Linux package"
        default: true
      windows:
        type: boolean
        description: "Build Windows package"
        default: true
      macos:
        type: boolean
        description: "Build macOS package"
        default: true
      source:
        type: boolean
        description: "Build Source package"
        default: true
  workflow_call:
    inputs:
      linux:
        type: boolean
        description: "Build Linux package"
        default: true
      windows:
        type: boolean
        description: "Build Windows package"
        default: true
      macos:
        type: boolean
        description: "Build macOS package"
        default: true
      source:
        type: boolean
        description: "Build Source package"
        default: true

jobs:
  build_linux:
    if: ${{ github.event_name != 'push' || inputs.linux }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python_version: ["3.10","3.11","3.12","3.13","3.14"]
      fail-fast: false
  
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          submodules: recursive

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install Build Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          sudo apt install -y build-essential g++ cmake ninja-build
      
      - name: Build Linux Package
        id: build_linux
        run: |
          python setup.py bdist_wheel
          pkg=$(ls dist/)
          echo "Built Linux package: $pkg"
          echo "pkg=$pkg" >> $GITHUB_ENV
      
      - name: Auditwheel
        run: |
          python -m pip install auditwheel
          auditwheel repair dist/$pkg --wheel-dir dist/
          rm dist/$pkg
          new_pkg=$(ls dist/)
          echo "Repaired Linux package: $new_pkg"
          echo "pkg=$new_pkg" >> $GITHUB_ENV
      
      - name: Upload Linux Package
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: linux-package-${{ matrix.python_version }}
          path: dist/${{ env.pkg }}

      - name: Run pytest
        run: |
          pip install dist/$pkg pytest
          cd tests  # so that it doesn't try to import the local directory
          pytest .

      
  build_windows:
    if: ${{ github.event_name != 'push' || inputs.windows }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, windows-2025]
        python_version: ["3.10","3.11","3.12","3.13","3.14"]
      fail-fast: false
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          submodules: recursive

      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: >
            git
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-make
      
      - name: Add MSYS2 mingw64/bin to PATH
        shell: msys2 {0}
        run: |
          echo "/mingw64/bin" >> $GITHUB_PATH
          
              
      - name: Set up Windows Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}
          architecture: x64

      - name: Add Windows Python to PATH
        shell: msys2 {0}
        run: |
          echo "$pythonLocation" >> $GITHUB_PATH
        env:
          pythonLocation: ${{ env.pythonLocation }}
      

      - name: Install Python build tools
        shell: msys2 {0}
        run: |
          export PATH="$(cygpath -u "$pythonLocation"):$PATH"
          python -m pip install --upgrade pip setuptools wheel pyopenssl pytest tzdata
        env:
          pythonLocation: ${{ env.pythonLocation }}

      - name: Build Windows Package
        id: build_windows
        shell: msys2 {0}
        run: |
          export PATH="$(cygpath -u "$pythonLocation"):$PATH"
          python setup.py bdist_wheel
          pkg=$(ls dist/)
          echo "Built Windows package: $pkg"
          echo "pkg=$pkg" >> $GITHUB_ENV
        env:
          pythonLocation: ${{ env.pythonLocation }}


      - name: Upload Windows Package
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: windows-package-${{ matrix.python_version }}
          path: dist/${{ env.pkg }}

      - name: Run pytest
        shell: msys2 {0}
        run: |
          export PATH="$(cygpath -u "$pythonLocation"):$PATH"
          python -m pip install dist/$pkg pytest
          cd tests  # so that it doesn't try to import the local directory
          python -m pytest .
        env:
          pythonLocation: ${{ env.pythonLocation }}


  build_macos:
    if: ${{ github.event_name == 'push' || inputs.macos }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15]  
        python_version: ["3.14"]
      fail-fast: false
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          submodules: recursive

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install Build Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          brew install cmake ninja
      
      - name: Build macOS Package
        id: build_macos
        run: |
          python setup.py bdist_wheel
          pkg=$(ls dist/)
          echo "Built macOS package: $pkg"
          echo "pkg=$pkg" >> $GITHUB_ENV
      
      - name: Upload macOS Package
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: macos-package-${{ matrix.python_version }}-on-${{ matrix.os }}
          path: dist/${{ env.pkg }}
      
      - name: Run pytest
        run: |
          pip install dist/$pkg pytest
          cd tests  # so that it doesn't try to import the local directory
          pytest .

  build_source:
    if: ${{ github.event_name != 'push' || inputs.source }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          submodules: recursive

      - name: Set up Python 3.14
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: 3.14

      - name: Install Build Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel

      - name: Build Source Package
        id: build_source
        run: |
          python setup.py sdist
          pkg=$(ls dist/)
          echo "Built Source package: $pkg"
          echo "pkg=$pkg" >> $GITHUB_ENV

      - name: Upload Source Package
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: source-package
          path: dist/$pkg

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
      
      - name: Build Docker Image for Source Package Testing
        run: |
          pyver="3.14"
          pyref="py${pyver//./}"
          docker_image="datetimetools:${pyref}"
          echo "Docker image: ${docker_image}"
          echo "docker_image=${docker_image}" >> $GITHUB_ENV
          docker build --build-arg PYTHON_VERSION=${pyver} -t $docker_image
      
      - name: Run Docker Image
        run: |
          echo "docker_image is '${{ env.docker_image }}'"
          docker_container=dttest
          echo "docker_container=$docker_container" >> $GITHUB_ENV
          docker run --name $docker_container --rm -d ${{ env.docker_image }}

      - name: Copy Source Package into Docker
        run: |
          docker cp dist/$pkg $docker_container:/DateTimeTools/dist/$pkg  

      - name: Install and Test Source Package
        run: |
          docker exec -u ubuntu ${{ env.docker_container }} bash -c "source /app/venv/bin/activate && pip install /DateTimeTools/dist/$pkg pytest"
          docker exec -u ubuntu ${{ env.docker_container }} bash -c "cd /DateTimeTools/tests && source /app/venv/bin/activate && pytest ."
          
      - name: Cleanup Docker Container
        run: |
          docker rm -f ${{ env.docker_container }} || true
