name: "Package Test"

on: 
    pull_request:
    workflow_dispatch:
        inputs:
            python_version:
                type: choice
                description: "Python version to run package test on"
                default: "3.14"
                options:
                    - "all"
                    - "3.10"
                    - "3.11"
                    - "3.12"
                    - "3.13"
                    - "3.14"
            linux:
                type: boolean
                description: "Build Linux package"
                default: true
            windows:
                type: boolean
                description: "Build Windows package"
                default: false
            macos:
                type: boolean
                description: "Build macOS package"
                default: false
            source:
                type: boolean
                description: "Build Source package"
                default: false

run-name: Package and Test DateTimeTools
jobs:
    manual_test:
        name: Manual Test Single Python Version
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.python_version != 'all' }}
        uses: ./.github/workflows/reusable_package_test.yml
        with:
            python_version: ${{ github.event.inputs.python_version }}
            linux: ${{ inputs.linux }}
            windows: ${{ inputs.windows }}
            macos: ${{ inputs.macos }}
            source: ${{ inputs.source }}

    manual_test_all:
        name: Manual Test All Python Versions
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.python_version == 'all' }}
        uses: ./.github/workflows/reusable_package_test.yml
        strategy:
            fail-fast: false
            matrix:
                python_version: ["3.10","3.11","3.12","3.13","3.14"]
        with:
            python_version: "${{ matrix.python_version }}"
            linux: ${{ inputs.linux }}
            windows: ${{ inputs.windows }}
            macos: ${{ inputs.macos }}
            source: ${{ inputs.source }}
            
    pull_request:
        name: Pull Request Test All Python Versions
        if: github.event_name == 'pull_request'
        uses: ./.github/workflows/reusable_package_test.yml
        with:
            python_version: "3.14"
            linux: true
            windows: true
            macos: true
            source: true
