
name: Release Package

on:
  workflow_dispatch:
    inputs:
      publish_pypi:
        type: boolean
        description: "Publish to PyPI"
        default: true
      test:
        type: boolean
        description: "Publish to Test PyPI"
        default: false

run-name: Release DateTimeTools Package

jobs:
  get_version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Get version from __init__.py
        id: get_version
        run: |
          # Read the version from DateTimeTools/__init__.py using a Python one-liner
          version=v$(python3 -c "from getversion import getversion; print(getversion())")
          echo "Found version: $version"
          echo "::set-output name=version::$version"

  tag:
    runs-on: ubuntu-latest
    needs: get_version
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Check if tag exists
        id: tag_check
        run: |
          tag="${{ needs.get_version.outputs.version }}"
          if git rev-parse "$tag" >/dev/null 2>&1; then
              echo "Tag $tag already exists"
              echo "::set-output name=exists::true"
              exit 1
          else
              echo "Tag $tag does not exist"
              echo "::set-output name=exists::false"
          fi
          

      - name: Create and Push Tag
        run: |
          tag="${{ needs.get_version.outputs.version }}"
          git tag "$tag"
          git push origin "$tag"

  build_linux:
      needs: get_version
      uses: ./.github/workflows/reusable_package_test.yml
      strategy:
          matrix:
              python_version: ["3.10","3.11","3.12","3.13","3.14"]
          fail-fast: false
      with:
          python_version: "${{ matrix.python_version }}"
          linux: true
          windows: false
          macos: false
          source: false

  build_windows:
      needs: get_version
      uses: ./.github/workflows/reusable_package_test.yml
      strategy:
          matrix:
              python_version: ["3.10","3.11","3.12","3.13","3.14"]
              os-version: ["windows-2022","windows-2025"]
          fail-fast: false
      with:
          python_version: "${{ matrix.python_version }}"
          linux: false
          windows: true
          macos: false
          os-version: "${{ matrix['os-version'] }}"
          source: false
  
  build_macos:
      needs: get_version
      uses: ./.github/workflows/reusable_package_test.yml
      strategy:
          matrix:
              python_version: ["3.10","3.11","3.12","3.13","3.14"]
              os-version: ["macos-14","macos-15"]
          fail-fast: false
      with:
          python_version: "${{ matrix.python_version }}"
          linux: false
          windows: false
          macos: true
          os-version: "${{ matrix['os-version'] }}"
          source: false

  build_source:
      needs: get_version
      uses: ./.github/workflows/reusable_package_test.yml
      with:
          python_version: "3.14"
          linux: false
          windows: false
          macos: false
          source: true

          
  release:
    needs: [get_version, build_linux, build_windows, build_macos, build_source]
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          # omit ‘name’ to fetch *every* artifact uploaded earlier
          path: ./downloaded-artifacts

      - name: Move Artifacts
        run: |
          mkdir -p dist
          mv -v downloaded-artifacts/*/* dist/

      - name: Show contents
        run: |
          ls dist/

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.get_version.outputs.version }}
          release_name: "Release ${{ needs.get_version.outputs.version }}"
          draft: false
          prerelease: false

      - name: Upload Package to Release
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741  # v2.11.3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

      - name: Publish Package to PyPI
        if: ${{ inputs.publish_pypi == true && inputs.test == false }}
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: Publish Package to PyPI (TEST)
        if: ${{ inputs.publish_pypi == true && inputs.test }}
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
          verbose: true