name: "Package and Test DateTimeTools"

on:
  workflow_call:
    inputs: 
      python_version:
        type: string
        description: "Python version to use for packaging and tests"
        required: true
      run_tests:
        type: string
        description: "Run tests"
        default: "true"
jobs:
  package_and_test:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          submodules: recursive
      
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
           
      - name: Build Docker Image
        run: |
          pyver="${{ inputs.python_version }}"
          pyref="py${pyver//./}"
          docker_image="datetimetools:${pyref}"
          echo "Docker image: ${docker_image}"
          echo "docker_image=${docker_image}" >> $GITHUB_ENV
          docker build --build-arg PYTHON_VERSION=${pyver} -t $docker_image .

      - name: Run Docker Image
        run: |
          echo "docker_image is '${{ env.docker_image }}'"
          docker_container=dttest
          echo "docker_container=$docker_container" >> $GITHUB_ENV
          docker run --name $docker_container --rm -d ${{ env.docker_image }}

      - name: Build Package
        run: |
          docker exec -u ubuntu ${{ env.docker_container }} bash -c "cd /DateTimeTools && source /app/venv/bin/activate && python setup.py sdist"
          pkg=$(docker exec -u ubuntu ${{ env.docker_container }} bash -c "cd /DateTimeTools/dist && ls")
          echo "Built package: $pkg"
          echo "pkg=$pkg" >> $GITHUB_ENV

      - name: Install Package
        run: |
          docker exec -u ubuntu ${{ env.docker_container }} bash -c "cd /DateTimeTools/dist && /app/venv/bin/pip install $pkg"

      - name: Copy Package
        run: |
          docker cp $docker_container:/DateTimeTools/dist/$pkg .

      - name: Run Tests
        if: ${{ inputs.run_tests == 'true' }}
        run: |
          echo "Run Tests"
          docker exec -u ubuntu ${{ env.docker_container }} bash -c "cd /DateTimeTools/dist && /app/venv/bin/pip install pytest"
          docker exec -u ubuntu ${{ env.docker_container }} bash -c "cd /DateTimeTools/tests && source /app/venv/bin/activate && pytest ."

      - name: Clean Up
        if: always()
        run: |
          docker stop ${{ env.docker_container }}